doctype html
//
  =========================================================
  * Argon Dashboard - v1.1.2
  =========================================================
  * Product Page: https://www.creative-tim.com/product/argon-dashboard
  * Copyright 2020 Creative Tim (https://www.creative-tim.com)
  * Licensed under MIT (https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md)
  * Coded by Creative Tim
  =========================================================
  * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title
    | Pretty Blog Dashboard
  // Favicon
  link(href=admin.logo rel='icon' type='image/png')
  // Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet')
  // Icons
  link(href='/admin/assets/js/plugins/nucleo/css/nucleo.css' rel='stylesheet')
  link(href='/admin/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' rel='stylesheet')
  // CSS Files
  link(href='/admin/assets/css/argon-dashboard.css?v=1.1.2' rel='stylesheet')
  block styles
nav#sidenav-main.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light.bg-white
  .container-fluid
    // Toggler
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#sidenav-collapse-main' aria-controls='sidenav-main' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    // Brand
    a.navbar-brand.pt-0(href='/admin')
      img.navbar-brand-img(src=admin.logo alt='...')
    // User
    ul.nav.align-items-center.d-md-none
      li.nav-item.dropdown
        //- a.nav-link.nav-link-icon(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.ni.ni-bell-55
        //- .dropdown-menu.dropdown-menu-arrow.dropdown-menu-right(aria-labelledby='navbar-default_dropdown_1')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
      li.nav-item.dropdown
        a.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          .media.align-items-center
            span.avatar.avatar-sm.rounded-circle
              img(alt='Image placeholder' src=admin.thumbnail)
        .dropdown-menu.dropdown-menu-arrow.dropdown-menu-right
          .dropdown-header.noti-title
            h6.text-overflow.m-0 Welcome!
          a.dropdown-item(href='./logout')
            i.ni.ni-user-run
            span Logout
    // Collapse
    #sidenav-collapse-main.collapse.navbar-collapse
      // Collapse header
      .navbar-collapse-header.d-md-none
        .row
          .col-6.collapse-brand
            a(href='/admin/index.html')
              img(src=admin.logo)
          .col-6.collapse-close
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#sidenav-collapse-main' aria-controls='sidenav-main' aria-expanded='false' aria-label='Toggle sidenav')
              span
              span
      // Form
      //- form.mt-4.mb-3.d-md-none
        .input-group.input-group-rounded.input-group-merge
          input.form-control.form-control-rounded.form-control-prepended(type='search' placeholder='Search' aria-label='Search')
          .input-group-prepend
            .input-group-text
              span.fa.fa-search
      // Navigation
      ul.navbar-nav
        li.nav-item.active
          a.nav-link.active(href='/admin')
            i.ni.ni-tv-2.text-primary
            |  Dashboard
        li.nav-item.active
          a.nav-link.active(href='/admin/add-post')
            i.ni.ni-fat-add.text-blue
            |  Create Post
        li.nav-item.active
          a.nav-link.active(href='/admin/posts')
            i.ni.ni-collection.text-blue
            |  Posts
        li.nav-item.active
          a.nav-link.active(href='/admin/comments')
            i.ni.ni-chat-round.text-blue
            |  Comments
        li.nav-item.active
          a.nav-link.active(href='/admin/upload-photo')
            i.ni.ni-cloud-upload-96.text-blue
            |  Upload Photo
        li.nav-item.active
          a.nav-link.active(href='/admin/photos')
            i.ni.ni-album-2.text-blue
            |  Photos
        li.nav-item.active
          a.nav-link.active(href='/admin/about')
            i.ni.ni-circle-08.text-blue
            |  About
.main-content
  // Navbar
  nav#navbar-main.navbar.navbar-top.navbar-expand-md.navbar-dark
    .container-fluid
      // Brand
      a.h4.mb-0.text-white.text-uppercase.d-none.d-lg-inline-block(href='/admin') Dashboard
      // Form
      //- form.navbar-search.navbar-search-dark.form-inline.mr-3.d-none.d-md-flex.ml-lg-auto
        .form-group.mb-0
          .input-group.input-group-alternative
            .input-group-prepend
              span.input-group-text
                i.fas.fa-search
            input.form-control(placeholder='Search' type='text')
      // User
      ul.navbar-nav.align-items-center.d-none.d-md-flex
        li.nav-item.dropdown
          a.nav-link.pr-0(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            .media.align-items-center
              span.avatar.avatar-sm.rounded-circle
                img(alt=admin.thumbnail src = admin.thumbnail)
              .media-body.ml-2.d-none.d-lg-block
                span.mb-0.text-sm.font-weight-bold= admin.name
          .dropdown-menu.dropdown-menu-arrow.dropdown-menu-right
            .dropdown-header.noti-title
              h6.text-overflow.m-0 Welcome!
            a.dropdown-item(href='/admin/logout')
              i.ni.ni-user-run
              span Logout
  // End Navbar
  // Header
  .header.bg-gradient-primary.pb-8.pt-5.pt-md-8
    .container-fluid
      .header-body
        block header
  .container-fluid.mt--7
    if message
      .alert.alert-dismissible.fade.show(role='alert' class='alert-' + type)
        span.alert-icon
          i.ni.ni-active-40
        span.alert-text
          strong= message
        button.close(type='button' data-dismiss='alert' aria-label='Close')
          span(aria-hidden='true') &times;

    block content

   
    // Footer
    footer.footer
      .row.align-items-center.justify-content-xl-between
        .col-xl-6
          .copyright.text-center.text-xl-left.text-muted
            | &copy; 2020 My Pretty Blog
        .col-xl-6
// Core
script(src='/admin/assets/js/plugins/jquery/dist/jquery.min.js')
script(src='/admin/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')
// Optional JS
script(src='/admin/assets/js/plugins/chart.js/dist/Chart.min.js')
script(src='/admin/assets/js/plugins/chart.js/dist/Chart.extension.js')
// Argon JS
script(src='/admin/assets/js/argon-dashboard.min.js?v=1.1.2')
block javascripts