extends layout

block content
  .container
    .row
      .col-md-2
      .col-md-8.col-md-offset-2
        .mainheading
          .row.post-top-meta.authorpage
            .col-md-10.col-xs-12
              h1= info.name
              span.author-description !{info.about}
              .sociallinks
                for contact in contacts
                  a(target='_blank' href=contact.url)
                    i(class=contact.icon)
              //- a.btn.follow(target='_blank' href='https://twitter.com/wowthemesnet') Follow
            .col-md-2.col-xs-12
              img.author-thumb(src=info.thumbnail alt=info.name )
