extends layout

block content
  h1.sitetitle= config.title
  p.lead= config.description
  section.featured-posts
    .section-title
      h2
        span= config.mostRead
    .card-columns.listfeaturedtag
      each post in mostReads
        .card
          .row
            .col-md-5.wrapthumbnail
              a(href='/post/' + post.id)
                .thumbnail(style='background-image:url(' + post.thumbnail + ');')
            .col-md-7
              .card-block
                h2.card-title
                  a(href='post.html')= post.title
                h4.card-text !{post.content.substr(0,150)}...
                .metafooter
                  .wrapfooter
                    //- span.meta-footer-thumb
                      a(href='author.html')
                        img.author-thumb(src='https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&d=mm&r=x' alt='Sal')
                    span.author-meta
                      //- span.post-name
                        a(href='author.html') Steve
                      //- br
                      span.post-date= post.createdAt
                      //- span.dot
                      //- span.post-read 6 min read
                    span.post-read-more
                      a(href='/post/' + post.id title='Read Story')= config.readMore
                        //- svg.svgIcon-use(width='25' height='25' viewbox='0 0 25 25')
                          path(d='M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z' fill-rule='evenodd')
    section.recent-posts
      .section-title
        h2
          span= config.allStories
      .card-columns.listrecent
        // begin post
        each post in posts
          .card
            a(href='/post/' + post.id)
              img.img-fluid(src= post.thumbnail alt='Post Thumbnail')
            .card-block
              h2.card-title
                a(href='/post/' + post.id)= post.title
              h4.card-text !{post.content.substr(0,150)}...
              .metafooter
                .wrapfooter
                  //- span.meta-footer-thumb
                    a(href='author.html')
                      img.author-thumb(src='https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&d=mm&r=x' alt='Sal')
                  span.author-meta
                    //- span.post-name
                      a(href='author.html') Sal
                    //- br
                    span.post-date= post.createdAt
                    //- span.dot
                    //- span.post-read 6 min read
                  span.post-read-more
                      a(href='/post/' + post.id title='Read Story')= config.readMore
    nav(aria-label='Page navigation example')
      ul.pagination.justify-content-end
        li.page-item.disabled
          a.page-link(href='/' tabindex='-1')= config.previous
        li.page-item
          a.page-link(href='/posts?page=1' style='color: #000;')= config.next
